body {
    font-family: Helvetica, Arial, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

  }
  
  .hero {
    flex: 1;
  }
  
  .footer {
    flex-shrink: 0;
  }