.nav{
    display: flex;
    align-items: center;
    margin:0;
    padding:.5em; 
    background-color: brown;
}

.nav-list{ 
    list-style-type: none;
    margin:0 1em;
}

.contact-header{
    text-align: center;
    border: 3px solid green;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* height: 100%; */
}
ul.ullist{
    display: inline-block;
    text-align: left;
}

.card-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}
  
.card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}
.modal-content {
    display: flex;
    align-items: center;
}
  
.modal-content img {
    max-width: 200px;
    margin-right: 20px;
}
